<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Trabajo final HTML/CSS">
  <meta name="robots" content="NOFOLLOW">
  <meta name="Author" content="Víctor Barrio">
  <meta name="keywords" content="Trabajo, Demo, SBD, Powerlifting">
  <meta name="lang" content="es">
  <meta name="category" content="Trabajo final">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/estilos.css">
  <title>SBD Barcelona</title>
</head>

<body>
  <!-- Cabecera de la página web -->
  <header>
    <div id="imagen_logo">
      <img src="../images/logo_cabecera.jpg" alt="Logo SBD" title="Logo SBD" id="logo_cabecera">
      <h1>SQUAT, BENCH & DEADLIFT</h1>
    </div>

    <!-- Barra de navegación de las páginas -->
    <nav>
      <a href="../index.html">INICIO</a>
      <a href="productos.html">PRODUCTOS</a>
      <a href="presupuesto.html">PRESUPUESTOS</a>
      <a href="contacto.html">CONTACTO</a>
    </nav>
  </header>

  <!-- Contenido de la página -->
  <main>
    <section class="articulos">
      <h2>Titular del sitio web</h2>
      <p>
        Los datos identificativos del responsable del presente sitio web son:
        SBD Barcelona S.L. con CIF B71185484, inscrita en el Registro
        Mercantil de Barcelona, con el documento n&uacute;mero 1/2013/6.209,0,
        asiento 2013/4872 de fecha 27/08/2021 en el tomo 1684, libro 0, folio
        198, hoja NA-33412, inscripci&oacute;n 1 y domicilio en Avinguda
        Diagonal, 3, 08019, Barcelona (Catalonia)
      </p>
      <p>
        (Informaci&oacute;n facilitada en cumplimiento de lo dispuesto en el
        art&iacute;culo 10 de la Ley 34/2002 de Servicios de la Sociedad de la
        Informaci&oacute;n y de Comercio Electr&oacute;nico).
      </p>
    </section>
    <section class="articulos">
      <h2>Condiciones de uso</h2>
      <p>
        Las siguientes disposiciones regulan el acceso y uso de este sitio
        web. La navegaci&oacute;n por este sitio web atribuye la
        condici&oacute;n de usuario a toda persona f&iacute;sica interesada en
        los productos y servicios de esta p&aacute;gina e implica la
        aceptaci&oacute;n plena y sin reservas del presente aviso legal.
      </p>
      <p>
        El usuario acepta de forma expresa y sin excepciones que el acceso y
        la utilizaci&oacute;n del presente sitio web, de sus servicios y sus
        contenidos tiene lugar bajo su &uacute;nica y exclusiva
        responsabilidad. En el caso de que el usuario no estuviera de acuerdo
        con el contenido de las presentes condiciones, deber &aacute;
        abandonar este sitio web, no pudiendo disponer de los servicios que se
        ofrecen.
      </p>
      <p>
        El acceso a esta web tiene car&aacute;cter libre y gratuito y no
        requiere suscripci&oacute;n o registro.
      </p>
      <p>
        El presente aviso legal podr&aacute; modificarse en cualquier momento,
        para adecuarlo a cambios legislativos, jurisprudenciales o
        tecnol&oacute;gicos. Estas modificaciones se considerarán notificadas
        desde su publicación en esta p&aacute;gina.
      </p>
    </section>
    <section class="articulos">
      <h2>Enlaces</h2>
      <p>
        Los enlaces externos que conducen a otros sitios web se ofrecen sin
        ning&uacute;n &aacute;nimo de lucro con el &uacute;nico objetivo de
        mejorar la informaci&oacute;n al usuario.
      </p>
      <p>
        Por tanto, no nos hacemos responsables de los contenidos enlazados, ni
        de las modificaciones que se pudieran realizar en los mismos, ni se
        garantiza la ausencia de virus u otros elementos en los mismos que
        puedan producir alteraciones en el sistema inform&aacute;tico,
        excluyendo cualquier responsabilidad por los da&ntilde;os de cualquier
        clase causados al usuario por este motivo.
      </p>
      <p>
        En el caso de que un enlace sea considerado inadecuado, puede
        comunic&aacute;rnoslo por los medios habituales y ser&aacute;
        rectificado sin dilaci&oacute;n.
      </p>
    </section>
    <section class="articulos">
      <h2>Jurisdicci&oacute;n aplicable</h2>
      <p>
        Cualquier relaci&oacute;n entre el usuario y SBD Barcelona se
        regir&aacute; e interpretar&aacute; de acuerdo a la legislaci&oacute;n
        espa&ntilde;ola. En caso de conflicto, las partes se someten a los
        Juzgados y Tribunales que resulten competentes en cada momento y
        siempre que la legislaci&oacute;n aplicable lo permita y si tuvieran
        posibilidad de ello, se someter&aacute;n voluntariamente a los
        Juzgados y Tribunales de Barcelona. Para solicitar una
        aclaraci&oacute;n o enviar una sugerencia, alabanza, queja o
        comentario, sugerimos el env&iacute;o de un correo electr&oacute;nico
        a hola@sbdbarcelona.com.
      </p>
    </section>
  </main>
  <!-- Pie de página -->
  <footer>
    <span id="redes">
      <a href="https://www.instagram.com/sbdapparel" target="top"><img src="../images/instagram.png" alt="Instagram"
          title="Instagram" class="logos_redes"></a>
      <a href="https://www.facebook.com/SBDApparel/" target="top"><img src="../images/facebook.png" alt="Facebook"
          title="Facebook" class="logos_redes"></a>
      <a href="https://www.youtube.com/sbdapparel" target="top"><img src="../images/youtube.png" alt="YouTube"
          title="YouTube" class="logos_redes"></a>
      <a href="https://x.com/sbdapparel" target="top"><img src="../images/twiter.png" alt="Twitter" title="Twitter"
          class="logos_redes"></a>
    </span>
    <span id="direccion">Avinguda Diagonal, 3, 08019, Barcelona (Cataluña)</span>
    <span>
      <a href="#" id="aviso_legal">Aviso Legal</a>
    </span>
  </footer>
</body>

</html>