<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Trabajo final HTML/CSS">
  <meta name="robots" content="NOFOLLOW">
  <meta name="Author" content="Víctor Barrio">
  <meta name="keywords" content="Trabajo, Demo, SBD, Powerlifting">
  <meta name="lang" content="es">
  <meta name="category" content="Trabajo final">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/estilos.css">
  <title>SBD Barcelona</title>
</head>

<body>
  <!-- Cabecera de la página web -->
  <header>
    <div id="imagen_logo">
      <img src="../images/logo_cabecera.jpg" alt="Logo SBD" title="Logo SBD" id="logo_cabecera">
      <h1>SQUAT, BENCH & DEADLIFT</h1>
    </div>

    <!-- Barra de navegación de las páginas -->
    <nav>
      <a href="../index.html">INICIO</a>
      <a href="productos.html">PRODUCTOS</a>
      <a href="presupuesto.html">PRESUPUESTOS</a>
      <a href="#" id="pagina_in">CONTACTO</a>
    </nav>
  </header>

  <!-- Contenido de la página -->
  <main>
    <h2>¿D&Oacute;NDE ENCONTRARNOS?</h2>
    <p>Nuestra tienda f&iacute;sica la puedes encontrar en el centro comercial Diagonal Mar (Avinguda Diagonal, 3,
      08019,
      Barcelona, Catalu&ntilde;a), ubicado en el distrito barcelon&eacute;s de San Marti, m&aacute;s concretamente en la
      2n planta del
      centro. Nuestro horario de la tienda es de lunes a viernes de 10:00 h a 20:00 h, y nuestro tel&eacute;fono de
      contacto es
      el 972 69 65 14.</p>
    <p>¡Cualquier duda siempre estaremos encantados de recibirte tanto por llamada como en la tienda y
      estaremos encantados de ayudarte!</p>
    <div id="imagen_mapa">
      <img src="../images/mapa.PNG" alt="mapa" title="mapa">
    </div>

  </main>

  <!-- Pie de página -->
  <footer>
    <span id="redes">
      <a href="https://www.instagram.com/sbdapparel" target="top"><img src="../images/instagram.png" alt="Instagram"
          title="Instagram" class="logos_redes"></a>
      <a href="https://www.facebook.com/SBDApparel/" target="top"><img src="../images/facebook.png" alt="Facebook"
          title="Facebook" class="logos_redes"></a>
      <a href="https://www.youtube.com/sbdapparel" target="top"><img src="../images/youtube.png" alt="YouTube"
          title="YouTube" class="logos_redes"></a>
      <a href="https://x.com/sbdapparel" target="top"><img src="../images/twiter.png" alt="Twitter" title="Twitter"
          class="logos_redes"></a>
    </span>
    <span id="direccion">Avinguda Diagonal, 3, 08019, Barcelona (Cataluña)</span>
    <span>
      <a href="aviso_legal.html" id="aviso_legal">Aviso Legal</a>
    </span>
  </footer>
</body>

</html>